* {
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Light", sans-serif;
  color: #262626;
}

.button-all {
  border: 2px solid #507fe1;
  color: #507fe1;
  text-transform: uppercase;
  padding: 17px 22px;
  font-size: 12px;
  font-family: "Proxima Nova Semibold", sans-serif;
  background-color: #fff;
  cursor: pointer;
}

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: 0;
  background-color: #507fe1;
  color: #fff;
  font-family: "Proxima Nova Semibold", sans-serif;
}

@media (max-width: 576px) {
  .button-all {
    font-size: 10px;
  }
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.navbar__phone {
  font-size: 19px;
  font-family: "Proxima Nova Semibold", sans-serif;
  display: block;
  color: #262626;
  margin-bottom: 5px;
}
.navbar__mobile, .navbar__landline {
  text-align: right;
}
.navbar__small-text {
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
  display: block;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  padding: 16px 0;
  width: 100%;
  background-color: #507fe1;
  transition: 0.2s;
  z-index: 0;
  transform: translateY(-200%);
}
.menu__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  cursor: pointer;
}
.menu-button__line {
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  display: block;
  margin-top: 4px;
}

.logo__text {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
.logo__desctiption {
  font-size: 14px;
  color: #7b7b79;
  display: block;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }

  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    flex-direction: column;
    justify-content: space-between;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}
.hero {
  background: #f1f1f1 url("../../image/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 120px;
}
.hero__title {
  font-size: 30px;
  max-width: 260px;
  margin-bottom: 40px;
  color: #fff;
}
.hero__subtitle {
  font-size: 30px;
  font-family: "Proxima Nova Semibold", sans-serif;
  margin-bottom: 60px;
  display: block;
  color: #fff;
}

@media (max-width: 991px) {
  .hero {
    background-size: cover;
  }
}